#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);

    transition-duration: 1s;
}

.overlay-window {
    height: 50%;
    width: 50%;
    min-height: 456px;
    min-width: 456px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(230,240,245);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.12);

}

.overlay-window-header {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;

    background-color: rgb(80, 110, 135);
    color: rgb(192, 210, 226);

    border-radius: 8px 8px 0 0;
}

.overlay-window-title {
    line-height: 32px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 8px;
    flex-grow: 1;
}

.overlay-window-close-btn {
    height: 32px;
    width: 32px;
    padding: 0;
    border: none;
    padding-right: 8px;
    -webkit-mask: url("../../../res/icons/close.svg") no-repeat 50% 50%;
    cursor: pointer;
    background-color: rgb(192, 210, 226);
    
    transition-duration: 0.3s;
}

.overlay-window-close-btn:hover {
    background-color: rgb(40,220,220);
}

.overlay-window-main-container {
    width: 100%;
    margin-top: -32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-window-input-container {
    height: 36px;
    margin: 8px 46px;
    display: flex;
    flex-direction: row;
}

.overlay-window-input-name {
    line-height: 36px;
    margin: 0 16px;
    font-size: 13px;
    width: 152px;
}

.overlay-window-input-value {
    border: none;
    border-radius: 18px;
    padding: 0 16px;
    line-height: 36px;
    outline: none;
    font-size: 13px;
    flex-grow: 1;
}

.overlay-window-radio-container {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.overlay-window-radio-container label {
    line-height: 36px;
    margin-left: 4px;
    margin-right: 16px;
    font-size: 13px;
}

.overlay-window-radio-container input {
    -webkit-appearance: none;
    margin: auto 0;
    width: 28px;
    height: 28px;
    border: 2px solid rgb(80, 110, 135);;
    border-radius: 18px;
    outline: none;
    cursor: pointer;

    transition-duration: 0.2s;
}

.overlay-window-radio-container input:checked {
    border: 10px solid rgb(40,220,220);
}

.overlay-window-button {
    border: none;
    height: 36px;
    width: 128px;
    border-radius: 18px;
    align-self: flex-end;
    margin: 16px;
    background-color: rgb(40,220,220);
    outline: none;
    cursor: pointer;
}

.overlay-window-button:hover {
    background-color: rgb(130, 230, 230);
}

.overlay-window-warning-msg {
    color: rgb(255, 80, 80);
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    margin: 0 46px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.overlay-window-note {
    font-size: 13px;
    font-style: italic;
    margin: 0 46px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}

.hide {
    display: none;
}
