html {
    height: 100%;
    width: 100%;
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    /*background-color: rgba(80, 110, 135, 0.95);*/
}

#navbar {
    width: 100%;
    height: 32px;
    background-color: rgb(80, 110, 135);
    color: rgb(192, 210, 226);
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
}

#nav-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: default;
}

.tool-drag-region {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    -webkit-app-region: drag;
}

#menubar {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
}

.tool-item {
    height: 32px;
    line-height: 32px;
    padding: 0 4px;
    cursor: default;
    -webkit-app-region: no-drag;
}

.tool-item:hover {
background-color: rgba(0, 0, 0, 0.1);
}


#window-controls {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 138px;
}

#window-controls .window-control-btn {
    height: 32px;
    -webkit-app-region: no-drag;
    width: 33.34%;
    transition-duration: 0.3s;
}

#window-controls .window-control-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#window-controls .window-control-btn#window-ctrl-close-btn:hover {
    background-color: rgba(232,17,35,.9);
}

.window-icon-image {
    height: 100%;
    width: 100%;
    background-color: rgb(200,200,200);
}

#window-minimize-icon {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%
}

#window-maximize-icon {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%
}

#window-close-icon {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#main-content {
    top: 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

#connection-container {
    min-width: 192px;
    background-color: rgba(55,75,95, 0.85);
    font-size: 13px;
    color: rgb(210, 225, 240);
    display: flex;
    margin-bottom: 32px;
}

#connection-explorer {
    width: 100%;
}

#connection-title-container {
    height: 36px;
    display: flex;
    flex-direction: row;
}

#connection-title {
    line-height: 36px;
    flex-grow: 1;
    margin-left: 16px;
}

#add-connection-btn {
    padding: 0;
    border: none;
    height: 36px;
    width: 36px;
    margin-right: 8px;
    -webkit-mask: url("../../../res/icons/add-circle.svg") no-repeat 50% 50%;
    cursor: pointer;
    background-color: rgb(40,220,220);

    transition-duration: 0.3s;
}

#add-connection-btn:hover {
    background-color: rgb(130,230,230);
}

.connections-title-container {
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.2);
}

.connections-title {
    line-height: 24px;
    font-weight: bold;
}

.connections-collapse-btn {
    border: none;
    padding: 0;
    width: 24px;
    height: 100%;
    cursor: pointer;
    -webkit-mask: url("../../../res/icons/arrow-right.svg") no-repeat 50% 50%;
    background-color: rgb(210, 225, 240);
    transform: rotate(45deg);
    transition-duration: 0.2s;
}

.connections-collapse-btn:hover {
    background-color: rgb(40,220,220);
}

.connections-collapse-btn.collapsed {
    transform: rotate(0deg);
}

.connection-object {
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.connection-object:hover {
    background-color: rgba(255,255,255,0.2);
}

.connection-object-name {
    height: 24px;
    line-height: 24px;
    flex-grow: 1;
    margin-left: 16px;
}

.connection-object-image {
    -webkit-mask: url("../../../res/icons/database_passive.svg") no-repeat 50% 50%;
    width: 24px;
}

.connection-object-btn {
    border: none;
    padding: 0;
    width: 24px;
    height: 100%;
    cursor: pointer;
}

.connection-object-btn.edit-btn {
    -webkit-mask: url("../../../res/icons/edit.svg") no-repeat 50% 50%;
    -webkit-mask-size: 50%;
    background-color: rgb(210, 225, 240);

    transition-duration: 0.2s;
}

.connection-object-btn.edit-btn:hover {
    background-color: rgb(40,220,220);
}

.connection-object-btn.delete-btn {
    -webkit-mask: url("../../../res/icons/delete.svg") no-repeat 50% 50%;
    -webkit-mask-size: 50%;
    background-color: rgb(210, 225, 240);

    transition-duration: 0.2s;
}

.connection-object-btn.delete-btn:hover {
    background-color: rgb(40,220,220);
}

.vert-divider {
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    left: 190px;
}

#workspace-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230,240,245);
}

.tab-container {
    width: 100%;
    min-height: 32px;
    display: flex;
    flex-direction: row;
    height: 32px;
    background-color: rgb(80, 110, 135);
    -webkit-app-region: drag;
    /*box-shadow: 3px 0px 5px 5px black;*/
}

.tab {
    min-width: 64px;
    display: flex;
    background-color: rgb(189, 204, 211);
    border-right: solid 1px rgb(114, 129, 136);
    color: rgb(55,75,95);
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    -webkit-app-region: no-drag;

    transition-duration: 0.3s;
}

.tab:hover {
    background-color: rgb(150, 160, 170);
}

.tab.selected {
    background-color: rgb(230,240,245);
}

.tab-name {
    line-height: 32px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
    flex-grow: 1;
}

.tab-delete-btn {
    border: none;
    padding: 0;
    width: 24px;
    height: 100%;
    cursor: pointer;
    -webkit-mask: url("../../../res/icons/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: 50%;
    background-color: rgb(55,75,95);;
}

.tab-delete-btn:hover {
    background-color: rgb(40,220,220);
}

#search-container {
    display: flex;
    flex-direction: row;
    min-height: 36px;
    padding: 16px 32px;
    background-color: rgb(230,240,245);
}

#search-dropdown {
    border: none;
    border-right: 1px solid black;
    border-radius: 18px 0 0 18px;
    min-width: 128px;
    padding-left: 16px;
    background-color: rgb(215, 230, 240);
    outline: none;
}

#search-dropdown.locked {
    background-color: rgb(189, 204, 211);
    cursor: default;
    user-select: none;
    
}


#search-dropdown:focus {
    background-color: white;
}

#search-input {
    border: none;
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    font-size: 13px;
    border-radius: 0 18px 18px 0;
    margin-right: 16px;
    flex-grow: 1;
    background-color: rgb(215, 230, 240);
    outline: none;
}

#search-input:focus {
    background-color: white;
}


#search-btn {
    border: none;
    height: 36px;
    border-radius: 18px;
    padding: 0 16px;
    background-color: rgb(40,220,220);
    outline: none;

    transition-duration: 0.3s;
}

#search-btn:hover {
    background-color: rgb(130, 230, 230);
}

.results-container {
    background-color: rgb(230,240,245);
    display: flex;
    flex-direction: row;
    height: 84.5%;
    position: relative;
}

.result-count-container {
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    background-color: rgb(80, 110, 135);
    color: rgb(230,240,245);
}

.result-record-container {
    width: 100%;
    border-bottom: solid 1px black;
    height: 18px;
    padding: 0 16px;
}

.query-results-container {
    overflow: auto;
    min-width: 250px;
}

.object-info-container {
    flex-grow: 1;
    background-color: rgba(55,75,95);
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    width: 100ch;
}

.object-tab-container.tab-container {
    border-radius: 8px 8px 0 0;
    -webkit-app-region: no-drag;
}

.result-title {
    font-size: 13px;
    line-height: 18px;
}

.result-title:hover {
    text-decoration: underline;
}

#refresh-btn {
    padding: 0;
    border: none;
    height: 36px;
    width: 36px;
    margin-right: 8px;
    -webkit-mask: url("../../../res/icons/refresh.svg") no-repeat 50% 50%;
    cursor: pointer;
    background-color: rgb(40,220,220);

    transition-duration: 0.3s;
}

#refresh-btn:hover {
    background-color: rgb(130,230,230);
}

.object-info-wrapper {
    display: flex;
    flex: 1;
}

.object-info {
    display: inline-block;
    font-size: 13px;
    color: rgb(192, 210, 226);
    overflow: auto;
    flex-grow: 1;
}

.attribute-container {
    display: flex;
    flex-direction: row;
    word-break: break-word;
    border-bottom: 1px solid rgb(100, 120, 140);
    height: 24px;
    line-height: 24px;
    padding: 0;
}

.attribute-key {
    min-width: 250px;
    border-right: 1px solid rgb(100, 120, 140);
    padding-left: 8px;
}

.attribute-value {
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: rgb(230,240,245);
    color: rgb(55,75,95);
    border: none;
    font: inherit;
    flex-grow: 1;
    outline: none;
}

.attribute-value.disabled {
    background-color: transparent;
    color: rgb(192, 210, 226);
}